
{% extends "base.html" %}

{% block content %}

    <h1>{{ location.name }}</h1>

    <p>
        {{ location.city }}, {{ location.country }}
    </p>

    <p>
        <strong>Type:</strong>
        {{ location.type }}
    </p>

    <hr>

    <p>
        <strong>{{ posts|length }}</strong>
        post{% if posts|length != 1 %}s{% endif %}
    </p>

    <p>
        <strong>{{ contributor_count }}</strong>
        contributor{% if contributor_count != 1 %}s{% endif %}
    </p>

 
    {% if current_user.is_authenticated %}

        <form
            method="POST"
            action="{{ url_for(
                'locations.follow_location',
                location_id=location.id
            ) }}"
        >

         {{ csrf_token() }}

            {% if is_following %}
                <button type="submit">
                    Unfollow Location
                </button>
            {% else %}
                <button type="submit">
                    Follow Location
                </button>
            {% endif %}

        </form>

    {% endif %}



    <h2>Posts from {{ location.name }}</h2>

    {% if posts %}

        {% for post in posts %}

            <article>

                <h3>
                    <a href="{{ url_for('profiles.profile', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </h3>

                <p>
                    <a href="{{ url_for('posts.post_detail', post_id=post.id) }}">
                        {{ post.content }}
                    </a>
                </p>

                {% for media in post.media %}

                    {% if media.media_type == "image" %}

                        <img
                            src="{{ url_for('static', filename='uploads/posts/' + media.filename) }}"
                            alt="Image from {{ post.location.name }}"
                            style="max-width: 500px;"
                        >

                    {% elif media.media_type == "video" %}

                        <video
                            controls
                            style="max-width: 500px;"
                        >
                            <source
                                src="{{ url_for('static', filename='uploads/posts/' + media.filename) }}"
                                type="video/{{ media.filename.rsplit('.', 1)[1].lower() }}"
                            >
                            Your browser does not support video playback.
                        </video>

                    {% endif %}

                {% endfor %}  
                
                <br>
                
                <small>
                    {{ post.created_at.strftime("%d %B %Y, %I:%M %p") }}
                </small>

            </article>

            <hr>

        {% endfor %}

    {% else %}

        <p>
            No posts from this location yet.
        </p>

    {% endif %}

{% endblock %}

